In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('ecom_processed.csv')
df.head()

,Unnamed: 0,user_id,region,device,channel,session_start,session_end,sessiondurationsec,session_date,month,day,hour_of_day,order_dt,revenue,payment_type,promo_code,payer,time_of_day,final_price
0,0,529697267522,United States,iPhone,социальные сети,2019-05-01 00:06:40,2019-05-01 00:07:06,26,2019-05-01,5,3,0,2019-05-01 00:06:40,9999.0,Mobile payments,0.0,1,ночь,9999.0
1,1,601292388085,United States,PC,organic,2019-05-01 06:56:16,2019-05-01 07:09:18,782,2019-05-01,5,3,7,NaN,NaN,NaN,NaN,0,утро,NaN
2,2,852898876338,United States,Mac,социальные сети,2019-05-01 04:30:45,2019-05-01 04:34:56,251,2019-05-01,5,3,4,NaN,NaN,NaN,NaN,0,ночь,NaN
3,3,998513020664,United States,iPhone,социальные сети,2019-05-01 18:53:42,2019-05-01 18:57:35,233,2019-05-01,5,3,18,NaN,NaN,NaN,NaN,0,вечер,NaN
4,4,240702200943,United States,Mac,социальные сети,2019-05-02 14:04:32,2019-05-02 14:09:51,319,2019-05-02,5,4,14,NaN,NaN,NaN,NaN,0,день,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          997 non-null    int64
 1   user_id             997 non-null    int64
 2   region              997 non-null    object
 3   device              997 non-null    object
 4   channel             997 non-null    object
 5   session_start       997 non-null    object
 6   session_end         997 non-null    object
 7   sessiondurationsec  997 non-null    int64
 8   session_date        997 non-null    object
 9   month               997 non-null    int32
 10  day                 997 non-null    int64
 11  hour_of_day         997 non-null    int64
 12  order_dt            275 non-null    object
 13  revenue             275 non-null    float64
 14  payment_type        275 non-null    object
 15  promo_code          275 non-null    float64
 16  payer               997 non-null    int64
 17  time_of_day         997 non-null    object
 18  final_price         275 non-null    float64
dtypes: float64(3), int32(1), int64(6), object(9)
memory usage: 144.2+ KB

Средний чек

In [9]:
df.final_price.mean().round(2)

5416.09

Среднее кол-во покупок от пользователя

In [10]:
df.payer.mean().round(2)

0.28

Средняя продолжительность сессии по каналам рекламы

In [23]:
df.groupby('channel').sessiondurationsec.mean().round(2)

channel
email-рассылки         1919.26
organic                1725.96
контекстная реклама    1871.79
реклама у блогеров     1669.64
социальные сети        1602.86
Name: sessiondurationsec, dtype: float64

Средняя продолжительность сессии по типу устройства

In [24]:
df.groupby('device').sessiondurationsec.mean().round(2)

device
Android    1801.14
Mac        1616.55
PC         1806.77
iPhone     1625.27
Name: sessiondurationsec, dtype: float64

Топ-3 рекламных канала по среднему чеку

In [27]:
df.groupby('channel').final_price.mean().sort_values(ascending=False).round(2).head(3)

channel
социальные сети       5525.13
organic               5433.48
реклама у блогеров    5388.66
Name: final_price, dtype: float64

Топ-3 региона по среднему чеку

In [28]:
df.groupby('region').final_price.mean().sort_values(ascending=False).round(2).head(3)

region
UK               5555.25
United States    5423.23
Germany          5344.83
Name: final_price, dtype: float64

Топ-3 месяца по среднему чеку с разбивкой по регионам

In [34]:
def func_month(x):
    if x == 5:
        return "May"
    if x == 6:
        return "June"
    if x == 7:
        return "July"
    if x == 8:
        return "August"
    if x == 9:
        return "September"
    if x == 10:
        return "October"


df['month'] = pd.DatetimeIndex(df['session_date']).month
df['month'] = df['month'].apply(func_month)
df['month']

0          May
1          May
2          May
3          May
4          May
        ...
992    October
993    October
994    October
995    October
996    October
Name: month, Length: 997, dtype: object

In [53]:
df.groupby('month').final_price.mean().sort_values(ascending=False).round(2).head(3)

month
May       5842.75
August    5464.22
June      5460.22
Name: final_price, dtype: float64

In [77]:
df.groupby(['region', 'month']).final_price.mean().round(2).sort_values(by='final_price', ascending=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'